@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Arial, Helvetica, sans-serif;
  scroll-behaviour: smooth;
  transition: background 0.8s ease-in-out;
}

body:has( .gallery_visible) {
  background: #000;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading="lazy"] {
    clip-path: inset(0.6px);
  }
}